@media (max-width: 1440px) {
    .container {
        padding: 0 2%;
    }

    .features-cards,
    .client-review-cards,
    .office-location-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-text,
    .features-text,
    .achieve-text,
    .procrastinator-text,
    .client-review-text,
    .office-location-text,
    .faq-text-container {
        width: 90%;
    }

    .hero-text h1,
    .features-text h1,
    .achieve-text h1,
    .procrastinator-text h1,
    .client-review-text h1,
    .office-location-text h1,
    .faq-text-container h1 {
        font-size: 42px;
    }

    .hero-section {
        gap: 3rem;
    }

    .download-app-container {
        flex-direction: column;
        text-align: center;
    }

    .procrastinator-content {
        flex-direction: column;
    }

    .procrastinator-text p,
    .client-review-text p,
    .office-location-text p,
    .faq-text-container p {
        width: 100%;
    }

    .procrastinator-image {
        width: 350px;
        height: auto;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #F8FAFC;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-btn {
        flex-direction: column;
        gap: 0.5rem;
    }

    .navbar {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-list {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-section {
        padding: 50px 0;
    }

    .features-cards,
    .client-review-cards,
    .office-location-cards {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem 0;
    }

    .achieve-cards {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 2rem 0;
    }

    .procrastinator-content {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-list-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .download-app-btn {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-text h1,
    .features-text h1,
    .achieve-text h1,
    .procrastinator-text h1,
    .client-review-text h1,
    .office-location-text h1,
    .faq-text-container h1 {
        font-size: 30px;
    }

    .hero-text p,
    .features-text p,
    .achieve-text p,
    .procrastinator-text p,
    .client-review-text p,
    .office-location-text p,
    .faq-text-container p {
        font-size: 16px;
    }

    .client-review {
        width: 100%;
    }
        /* Company Logo Section Start */
.company-logo-container {
    padding: 3rem ;
}

.company-logo-container-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.company-logo-container-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.company-logo img {
    width: 100px;
    height: auto;
}

/* Company Logo Section End */
}

@media (max-width: 480px) {
   /* Navbar Start */
.navbar-container {
    padding: 1% 3%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-hamburger {
    display: flex;
    align-items: center;
    gap: 4rem; /* Adjust gap as needed */
}

.logo img {
    width: 220px;
    padding-left: 2rem;
}

.hamburger {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.hamburger img {
    width: 24px;
    height: 24px;
}

.nav-menu {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.nav-list {
    display: flex;
    gap: 2rem;
    font-size: 16px;
    font-weight: 600;
}

.nav-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.signup-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #CBD5E1;
    border-radius: 20px;
}

.login-btn {
    background-color: #4F46E5;
    padding: 0.5rem 1rem;
    border: 1px solid #CBD5E1;
    border-radius: 20px;
    color: #FFFFFF;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: white;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

    /* Hero Section Start */
    .hero-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        background: linear-gradient(180 deg, #adabe0, #ffffff);
        padding: 75px 0 0 0;
    }
    .hero-text {
        width: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    .hero-text h1 {
        width: 345px;
        font-size: 30px;
        font-weight: 800;
        color: #1E293B;
    }
    .hero-text p {
        width: 345px;
        font-size: 16px;
        font-weight: 400;
        color: #475569;
    }
    
    .hero-icon {
        padding: 1rem 0;
        width: 300px;
        height: auto;
    }
    .hero-image img{
        width: 100%;
        height: auto;
    }
    /* Hero Section End */
    /* Company Logo Section Start */
.company-logo-container {
    padding: 2rem ;
}

.company-logo-container-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.company-logo-container-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.company-logo img {
    width: 74px;
    height: auto;
}

/* Company Logo Section End */

/* Features Section Start */
.features-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 3rem;
}

.features-text h1 {
    font-size: 30px;
    width: 343px;
}

.features-text p {
    font-size: 18px;
    width: 343px;
}

.features-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.card h3 {
    font-size: 18px;
}

.card p {
    font-size: 16px;
    width: 343px;
}

.card-image {
    width: 4rem;
    height: 4rem;

}

/* Features Section End */

/* lazily Achieve Section Start */
.achieve-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.achieve-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    text-align: center;
}

.achieve-text h1 {
    font-size: 30px;
    width: 343px;
}

.achieve-text p {
    width: 343px;
    font-size: 18px;
    font-weight: 400;
    color: #475569;
}

.achieve-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.achieve-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom: #CBD5E1 1px solid;
}

.achieve-card h3 {
    font-size: 60px;
    font-weight: 700;
    color: #4F46E5;
}

.achieve-card p {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
}

/* lazily Achieve Section End */

/* Procrastinator Section Start  */
.procrastinator-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.procrastinator-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.procrastinator-text h1 {
    font-size: 30px;
    font-weight: 700;
    width: 343px;
}

.procrastinator-text p {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    width: 343px;
}

.procrastinator-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.procrastinator-image {
    width: 500px;
    height: 500px;
}

.procrastinator-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.procrastinator-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-left: 5px solid #dbdddf;
}

.procrastinator-card:hover {
    border-left: 5px solid #4F46E5;
}
.procrastinator-card h3{
    font-size: 18px;
    font-weight: 600;
    color: #475569;
}
.procrastinator-card p{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
}
.procrastinator-image{
    width: 343px;
    height: 343px;
}

/* Procrastinator Section End  */
/* Client review Section Start */
.client-review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.client-review-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.client-review-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.client-review-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.client-review-text h1 {
    font-size: 30px;
    font-weight: 800;
    color: #1E293B;
}

.client-review-text p {
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    width: 343px;
    text-align: center;
}

.client-review-card-text {
    display: flex;
    gap: 0.5rem;
}

.fa-star {
    color: #F59E0B;
}

.fa-star-half-stroke {
    color: #F59E0B;
}

.client-review-card-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.client-review-card-info {
    display: flex;
    gap: 1rem;

}

.client-review {
    font-size: 18px;
    color: #475569;
    width: 330px;
    padding: 1rem 0;
}

.client-info h1 {
    font-size: 14px;
    font-weight: 600;
    color: #1E293B;
}

.client-info p {
    font-size: 14px;
    font-weight: 400;
    color: #475569;
}
.office-location-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #4F46E5;
    text-align: center;
    color: #FFFFFF;
    border: #4F46E5 1px solid;
}
.client-review-card:nth-child(n+5) {
    display: none; /* Hide comments after the first 4 */
}

/* Client review Section End */

/* Office Location Section Start */
.office-location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
}

.office-location-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;

}

.office-location-text p {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    width: 343px;
}

.office-location-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.office-location-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.office-location-card p{
    width: 180px;
}

.office-image {
    width: 18px;
    height: 22px;
}
/* Office Location Section End */
/* FAQ Section Start */
.faq-text-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem ;
    padding-right: 0;
    text-align: center;
}

.faq-text-container h1 {
    font-size: 30px;
    font-weight: 800;
    color: #1E293B;
}

.faq-text-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    width: 343px;
}

.collapsible {
    background-color: #F8FAFC;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 800;
    color: #334155;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.collapsible-text{
    width: 300px;
}
.arrow {
    margin-left: auto;
    width: 10px;
    height: 10px;
    border-right: 2px solid #1E293B;
    border-bottom: 2px solid #1E293B;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.collapsible.active .arrow {
    transform: rotate(-135deg);
}

.fa-circle-question {
    font-size: 15px;
    font-weight: 800;
    color: #1E293B;
}

.content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-radius: 0 0 5px 5px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 400;
    color: #475569;
    width: 310px;

}

/* FAQ Section End */

/* Download App Section Start */
.download-app-container {
    display: flex;
    margin: 5rem 0;
    gap: 5rem;
    padding: 2rem 0;
    text-align: left;
}

.download-app-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.download-app-text h1 {
    font-size: 30px;

}

.download-app-text p {
    font-size: 16px;
    font-weight: 400;
    width: 340px;
}



.app-btn-learn-more {
    font-size: 16px;
    width: 343px;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: #4F46E5 1px solid;
    color: #4F46E5;
}

.app-btn-get-more {
    font-size: 16px;
    gap: 1rem;
    width: 343px;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #4F46E5;
    color: #FFFFFF;
    border: #4F46E5 1px solid;
}

.app-store{
    width: 400px;
    height: 350px;
    align-items: center;
}

/* Download App Section End */
   /* Footer Section Start */
.footer-list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #CBD5E1;
}

.footer-copyright {
    display: none;
}
.footer-copyright-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 2rem 0;
}
.footer-logo {
    width: 270px;
    height: 50px;
    margin-left: 8rem;
}

.footer-copyright-mobile p {
    font-size: 14px;
    font-weight: 400;
    color: #94A3B8;
}

.footer-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
}

.footer-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #1E293B;
    border-bottom: 2px solid #1E293B;
    transform: rotate(-135deg);
    transition: transform 0.3s ease;
}

.footer-arrow-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #b4b4b5;
}


.footer-extra-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1rem;
    font-size: 14px;
    color: #475569;
}

/* Footer Section End */
}
