* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #F8FAFC;

}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 3%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2D2F30;
}

/* Header Section Start */

/* Navbar Start */

.navbar-container {
    padding: 1% 3%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-list {
    display: flex;
    gap: 2rem;
    font-size: 16px;
    font-weight: 600;
}

.hamburger {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.hamburger img {
    width: 24px;
    height: 24px;
}

.nav-menu {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.nav-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.signup-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #CBD5E1;
    border-radius: 20px;
}

.login-btn {
    background-color: #4F46E5;
    padding: 0.5rem 1rem;
    border: 1px solid #CBD5E1;
    border-radius: 20px;
    color: #FFFFFF;
}

/* Navbar End */

/* Hero Section Start */
.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: linear-gradient(0deg, #746ee7, #ffffff, #ffffff);
    padding: 75px 0 0 0;
}

.hero-text {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 800;
    color: #1E293B;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
}

.hero-text p {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
}

.hero-icon {
    padding: 1rem 0;
}

/* Hero Section End */
/* Header Section Start */

/* Company Logo Section Start */
.company-logo-container {
    padding: 5rem 3rem;
}

.company-logo-container-one {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.company-logo-container-two {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.company-logo img {
    width: 144px;
    height: 96px;
    object-fit: cover;
}

/* Company Logo Section End */

/* Features Section Start */
.features-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 50rem;
}

.features-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.features-text h5 {
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
}

.features-text p {
    font-size: 20px;
    font-weight: 400;
    color: #475569;
}

.features-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;

}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;
    height: 28px;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    color: #475569;
    height: 78px;
}

.card-image {
    width: 4rem;
    height: 4rem;

}

/* Features Section End */

/* lazily Achieve Section Start */
.achieve-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.achieve-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.achieve-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.achieve-text h5 {
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
}

.achieve-text p {
    width: 800px;
    font-size: 20px;
    font-weight: 400;
    color: #475569;
}

.achieve-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.achieve-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
}

.achieve-card h3 {
    font-size: 60px;
    font-weight: 700;
    color: #4F46E5;
}

.achieve-card p {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
}

/* lazily Achieve Section End */

/* Procrastinator Section Start  */
.procrastinator-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.procrastinator-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.procrastinator-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.procrastinator-text h5 {
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
}

.procrastinator-text p {
    font-size: 20px;
    font-weight: 400;
    color: #475569;
    width: 680px;
}

.procrastinator-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem 0;
}

.procrastinator-image {
    width: 500px;
    height: 500px;
}

.procrastinator-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.procrastinator-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
    border-left: 5px solid #dbdddf;
}

.procrastinator-card:hover {
    border-left: 5px solid #4F46E5;
}

/* Procrastinator Section End  */

/* Client review Section Start */
.client-review-container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-review-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.client-review-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.client-review-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.client-review-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.client-review-text h5 {
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
}

.client-review-text p {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    width: 680px;
}

.client-review-card-text {
    display: flex;
    gap: 0.5rem;
}

.fa-star {
    color: #F59E0B;
}

.fa-star-half-stroke {
    color: #F59E0B;
}

.client-review-card-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.client-review-card-info {
    display: flex;
    gap: 1rem;

}

.client-review {
    font-size: 16px;
    color: #475569;
    width: 330px;
}

.client-info h1 {
    font-size: 16px;
    font-weight: 600;
    color: #1E293B;
}

.client-info p {
    font-size: 16px;
    font-weight: 400;
    color: #475569;
}

/* Client review Section End */

/* Office Location Section Start */
.office-location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.office-location-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;

}

.office-location-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.office-location-text h5 {
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
}

.office-location-text p {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    width: 680px;
}

.office-location-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.office-location-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
}

.office-image {
    width: 18px;
    height: 22px;
    object-fit: cover;
}
.office-location-btn{
    display: none;
}
/* Office Location Section End */

/* FAQ Section Start */
.faq-text-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 3rem;
}

.faq-text-container h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
}

.faq-text-container p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    width: 800px;
}

.faq-text-container h5 {
    font-size: 14px;
    font-weight: 600;
    color: #4F46E5;
}

.collapsible {
    background-color: #F8FAFC;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 800;
    color: #334155;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.arrow {
    margin-left: auto;
    width: 10px;
    height: 10px;
    border-right: 2px solid #1E293B;
    border-bottom: 2px solid #1E293B;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.collapsible.active .arrow {
    transform: rotate(-135deg);
}

.fa-circle-question {
    font-size: 15px;
    font-weight: 800;
    color: #1E293B;
}

.content {
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-radius: 0 0 5px 5px;
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 400;
    color: #475569;

}

/* FAQ Section End */

/* Download App Section Start */
.download-app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    padding: 2rem;
}

.app-store {
    width: 550px;
}

.download-app-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.download-app-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;

}

.download-app-text p {
    font-size: 18px;
    font-weight: 600;
    color: #475569;
}

.download-app-btn {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.app-btn-learn-more {
    font-size: 16px;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: #4F46E5 1px solid;
    color: #4F46E5;
}

.app-btn-get-more {
    font-size: 16px;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #4F46E5;
    color: #FFFFFF;
    border: #4F46E5 1px solid;
}

/* Download App Section End */

/* Footer Section Start */
.footer-copyright-mobile{
    display: none;
}
.footer-list-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #CBD5E1;
}

.footer-lister {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-lister h1 {
    font-size: 16px;
    font-weight: 600;
    color: #1E293B;
}

.footer-lister p {
    font-size: 16px;
    font-weight: 400;
    color: #475569;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.footer-logo {
    width: 200px;
    height: 40px;
}

.footer-copyright p {
    font-size: 14px;
    font-weight: 400;
    color: #94A3B8;
}

.footer-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
}

.footer-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #1E293B;
    border-bottom: 2px solid #1E293B;
    transform: rotate(-135deg);
    transition: transform 0.3s ease;
}

.footer-arrow-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #1E293B;
}


.footer-extra-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1rem;
    font-size: 14px;
    color: #475569;
}

/* Footer Section End */
